@import "defaults";

html {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
}

body {
	margin: 0;
	font-size: 1.8rem;
}

.mb-3 {
	margin-bottom: 1rem;
}
.mtb-5 {
	margin-top: 2.4rem;
	margin-bottom: 2.4rem;
}
.align-right {
	text-align: right;
}

.btn {
	border-radius: 7px;
	border-style: solid;
	border-width: 1px;
	color: #fff;
	display: inline-block;
	height: 3rem;
	vertical-align: top;
	margin-right: 0.5rem;
	&--secondary {
		background-color: $secondaryBgn;
		border-color: $secondaryBrd;
	}
	&--tiny {
		width: 3rem;
	}
	&--large-font {
		font-size: 2.4rem;
		height: 3.6rem;
	}
}

.title {
	display: inline-block;
	font-size: 3rem;
	vertical-align: middle;
	font-weight: normal;
	&--smaller {
		font-size: 2.4rem;
	}
	&--centered {
		display: block;
		text-align: center;
	}
	&--marg-bottom {
		margin-bottom: 0.8rem;
	}
	&--marg-top-bottom {
		margin-top: 1rem;
		margin-bottom: 1rem;
	}
}

.menu {
	list-style: none;
	margin: 0;
	padding-left: 0;
	&--padded {
		padding: 2rem;
	}
	&__item {
		background-color: #ccc;
		margin-bottom: 2rem;
		&--active {
			font-weight: bold;
		}
	}
	&__link {
		color: #000;
		text-decoration: none;
		padding: 1.2rem;
		display: block;
	}
}

.header {
	overflow: hidden;
	border-bottom: 1px solid #aaa;
	margin-bottom: 1rem;
	line-height: 3rem;
	&--bottom-padding {
		padding-bottom: 10px;
	}
}

.progress-indicator {
	font-size: 24px;
	display: inline-block;
	float: right;
}

.form {
	&--type {
		display: inline-block;
		width: calc(100% - 7.5rem);
		font-size: 2rem;
	}
	&--question {
		text-align: right;
	}
	&__label {
		min-width: 12rem;
		text-align: right;
		margin-right: 1rem;
		&--question {
			display: inline-block;
			margin-right: 1rem;
			font-size: 3rem;
		}
		&-item {
			margin-right: 0.5rem;
		}
	}
	&__input {
		height: 2.5rem;
		&--medium {
			width: 10rem;
		}
		&--wide {
			width: calc(100% - 12rem);
		}
		&--large-font {
			font-size: 3rem;
		}
	}
}

.results {
	text-align: center;
	padding: 0.3rem 0.6rem;
	border-radius: 0.7rem;
	margin-bottom: 1rem;
	font-size: 2.4rem !important;
	position: relative;
	&__cell {
		padding: 0 0.6rem;
		&--left {
			text-align: left;
		}
		&--right {
			text-align: right;
		}
	}
	&__answer {
		margin-right: 1rem;
		&--correct {
			color: #0a0;
		}
		&--incorrect {
			color: #a00;
			text-decoration: line-through;
		}
		&--correction {
			color: #00a;
		}
	}
}

.report {
	&__operation-title {
		margin-top: 1.5rem;
		margin-bottom: 0.5rem;
	}
}

.table {
	border-collapse: collapse;
	width: 100%;
	font-size: 1.6rem;
	th, td {
		border-collapse: collapse;
		border: 1px solid #000;
		padding: 0.3rem 0.6rem;
	}
}



@media screen and (max-width: 767px) {
	.screen-only {
		display: none;
	}
	.grid {
		display: grid;
		grid-template-columns: 60% 100%;
		will-change: transform;
		align-content: center;
		overflow-x: auto;
		scroll-snap-coordinate: 0 0;
		scroll-snap-points-x: repeat(100%);
		scroll-snap-type: x mandatory;
		-webkit-overflow-scrolling: touch;
		height: 100vh;
		
		&__container {
			width: calc(100vw - 1.6rem);
			max-width: unset;
			padding: 0.8rem;
			height: calc(100vh - 1.6rem);
			margin: 0;
			scroll-snap-align: start;
			&--first {
				background-color: #333;
				width: calc(60vw - 1.6rem);
			}
			&--last {
				background-color: #fff;
			}
		}
	}
}

@media screen and (min-width: 768px) {
	.mobile-only {
		display: none;
	}
	.menu-btn {
		display: none;
	}
	.wrapper {
		width: 720px;
		height: 100vh;
	}
	.grid__container {
		display: inline-block;
		vertical-align: top;
		&--first {
			width: 200px;
			height: 100%;
			background-color: #333;
			margin-right: 10px;
			.menu {
				padding: 0 10px;
			}
		}
		&--last {
			width: 500px;
			padding-top: 10px;
		}
	}
	.menu {
		margin-top: 10px;
	}
}
